﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Demo de Apache/Cordova</title>

    <!-- Referencias de DemoCordova -->
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <p>Aplicación de demostración de Apache/Cordova</p>

    <!-- Referencia de Cordova que se agrega a la aplicación cuando se compila. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/index.js"></script>

    <div ng-app="geolocalizacion" ng-controller="encontrarPosicion">
        <div>
            <button click="posicionActual()">Encontrar Posición</button>
            <div>Las coordenadas de tu posición son:</div>
            <p id="Latitud">Latitud: {{lat}}</p>
            <p id="Longitud">Latitud: {{long}}</p>
        </div>
    </div>
</body>
</html>