<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button (click)="goBack()" >
        Go Back
      </button>

      <button ion-button (click)="goConditions()" >
          Go Conditions Page
        </button><br>

</ion-content>
